.textarea {
	min-width: 95%;
	max-width: 95%;
	padding: .5rem;
	line-height: 200%;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.2) inset;
}

td {
	text-align: center;
}

input[type="button"] {
	padding: .4em 1.0em;
	border-radius: 20px;
	text-align: center;
	color: #ffffff;
	background: #666666;
	cursor: pointer;
	letter-spacing: .1em;
	line-height: 110%;
	margin: 5px;
	font-weight: 900;
	font-size: 25px;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

input[type="button"]:disabled {
	color: #cccccc;
	background: #cccccc;
	cursor:default;
}

.title {
	padding: 0em 3em;
	color: #666699;
	background: #dddddd;
	font-weight: 700;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.header {
	border-radius: 5px;
	padding: 0.2em .5em;
	background: #b1b1c0;
	letter-spacing: .1em;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2) inset;
	margin: 0em .3em 0em 0em;
}

#explanation {
	max-width: 90%;
	text-align: left;
	margin: auto;
}

#alert {
	color: #ff0000;
	font-weight: 700;
}
